<div class="p-5" style="background: #f8285a;">

  <apx-chart
    #chartspark1
    [chart]="chartAreaSparkline1Options.chart"
    [colors]="chartAreaSparkline1Options.colors"
    [series]="chartAreaSparkline1Options.series"
    [stroke]="chartAreaSparkline1Options.stroke"
    [labels]="chartAreaSparkline1Options.labels"
    [fill]="chartAreaSparkline1Options.fill"
    [tooltip]="chartAreaSparkline1Options.tooltip"
    [yaxis]="chartAreaSparkline1Options.yaxis"
    [title]="chartAreaSparkline1Options.title"
    [subtitle]="chartAreaSparkline1Options.subtitle"
></apx-chart>

</div>