<ng-scrollbar appearance="compact">

<div class="card">
  <p-menubar [model]="items">
      <ng-template pTemplate="start">
          <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1934 0V0V0L0.0391235 5.38288L2.35052 25.3417L15.1934 32.427V32.427V32.427L28.0364 25.3417L30.3478 5.38288L15.1934 0Z" fill="var(--primary-color)" />
              <mask id="mask0_1_36" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="31" height="33">
                  <path d="M15.1934 0V0V0L0.0391235 5.38288L2.35052 25.3417L15.1934 32.427V32.427V32.427L28.0364 25.3417L30.3478 5.38288L15.1934 0Z" fill="var(--primary-color-text)" />
              </mask>
              <g mask="url(#mask0_1_36)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1935 0V3.5994V3.58318V20.0075V20.0075V32.427V32.427L28.0364 25.3417L30.3478 5.38288L15.1935 0Z" fill="var(--primary-color)" />
              </g>
              <path d="M19.6399 15.3776L18.1861 15.0547L19.3169 16.6695V21.6755L23.1938 18.4458V12.9554L21.4169 13.6013L19.6399 15.3776Z" fill="var(--primary-color-text)" />
              <path d="M10.5936 15.3776L12.0474 15.0547L10.9166 16.6695V21.6755L7.03966 18.4458V12.9554L8.81661 13.6013L10.5936 15.3776Z" fill="var(--primary-color-text)" />
              <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M11.3853 16.9726L12.6739 15.0309L13.4793 15.5163H16.7008L17.5061 15.0309L18.7947 16.9726V24.254L17.8283 25.7103L16.7008 26.843H13.4793L12.3518 25.7103L11.3853 24.254V16.9726Z"
                  fill="var(--primary-color-text)"
              />
              <path d="M19.3168 24.7437L21.4168 22.6444V20.5451L19.3168 22.3214V24.7437Z" fill="var(--primary-color-text)" />
              <path d="M10.9166 24.7437L8.81662 22.6444V20.5451L10.9166 22.3214V24.7437Z" fill="var(--primary-color-text)" />
              <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M13.0167 5.68861L11.7244 8.7568L13.8244 14.8932H14.7936V5.68861H13.0167ZM15.4397 5.68861V14.8932H16.5706L18.5091 8.7568L17.2167 5.68861H15.4397Z"
                  fill="var(--primary-color-text)"
              />
              <path d="M13.8244 14.8932L6.87813 12.3094L5.90888 8.27235L11.8859 8.7568L13.9859 14.8932H13.8244Z" fill="var(--primary-color-text)" />
              <path d="M16.5706 14.8932L23.5169 12.3094L24.4861 8.27235L18.3476 8.7568L16.4091 14.8932H16.5706Z" fill="var(--primary-color-text)" />
              <path d="M18.8321 8.27235L22.2245 7.94938L19.9629 5.68861H17.7013L18.8321 8.27235Z" fill="var(--primary-color-text)" />
              <path d="M11.4013 8.27235L8.00893 7.94938L10.2705 5.68861H12.5321L11.4013 8.27235Z" fill="var(--primary-color-text)" />
          </svg>
      </ng-template>
      <ng-template pTemplate="item" let-item let-root="root">
          <a pRipple class="flex align-items-center p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
              <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
              <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
              <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
          </a>
      </ng-template>
      <ng-template pTemplate="end">
          <div class="flex align-items-center gap-2">
              <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
          </div>
      </ng-template>
  </p-menubar>
</div>

<p-button label="Primary" [raised]="true" />
<p-button label="Secondary" [raised]="true" severity="secondary" />
<p-button label="Success" [raised]="true" severity="success" />
<p-button label="Info" [raised]="true" severity="info" />
<p-button label="Warning" [raised]="true" severity="warning" />
<p-button label="Help" [raised]="true" severity="help" />
<p-button label="Danger" [raised]="true" severity="danger" />
<p-button label="Contrast" [raised]="true" severity="contrast" />

<br><br><br>

<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
          <span class="block text-6xl font-bold mb-1">Create the screens</span>
          <div class="text-6xl text-primary font-bold mb-3">your visitors deserve to see</div>
          <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised"></button>
          <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button>
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <img src="test.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>


<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl">
      <span class="text-900">One Product, </span>
      <span class="text-blue-600">Many Solutions</span>
  </div>
  <div class="text-700 mb-6">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div>
  <div class="grid">
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-desktop text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Built for Developers</div>
          <span class="text-700 line-height-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-lock text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">End-to-End Encryption</div>
          <span class="text-700 line-height-3">Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin aliquam ultrices sagittis.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-check-circle text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Easy to Use</div>
          <span class="text-700 line-height-3">Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat ac tincidunt vitae semper.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-globe text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Fast & Global Support</div>
          <span class="text-700 line-height-3">Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-github text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Open Source</div>
          <span class="text-700 line-height-3">Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. </span>
      </div>
      <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-shield text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Trusted Securitty</div>
          <span class="text-700 line-height-3">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus aliquam eleifend.</span>
      </div>
  </div>
</div>


<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
          <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Orders</span>
                      <div class="text-900 font-medium text-xl">152</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                  </div>
              </div>
              <span class="text-green-500 font-medium">24 new </span>
              <span class="text-500">since last visit</span>
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
          <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Revenue</span>
                      <div class="text-900 font-medium text-xl">$2.100</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                  </div>
              </div>
              <span class="text-green-500 font-medium">%52+ </span>
              <span class="text-500">since last week</span>
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
          <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Customers</span>
                      <div class="text-900 font-medium text-xl">28441</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                  </div>
              </div>
              <span class="text-green-500 font-medium">520  </span>
              <span class="text-500">newly registered</span>
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
          <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Comments</span>
                      <div class="text-900 font-medium text-xl">152 Unread</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-comment text-purple-500 text-xl"></i>
                  </div>
              </div>
              <span class="text-green-500 font-medium">85 </span>
              <span class="text-500">responded</span>
          </div>
      </div>
  </div>
</div>


<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div class="font-medium text-3xl text-900 mb-3">Movie Information</div>
  <div class="text-500 mb-5">Morbi tristique blandit turpis. In viverra ligula id nulla hendrerit rutrum.</div>
  <ul class="list-none p-0 m-0">
      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">Title</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Heat</div>
          <div class="w-6 md:w-2 flex justify-content-end">
              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>
          </div>
      </li>
      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">Genre</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
              <p-chip label="Crime" class="mr-2"></p-chip>
              <p-chip label="Drama" class="mr-2"></p-chip>
              <p-chip label="Thriller"></p-chip>
          </div>
          <div class="w-6 md:w-2 flex justify-content-end">
              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>
          </div>
      </li>
      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">Director</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Michael Mann</div>
          <div class="w-6 md:w-2 flex justify-content-end">
              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>
          </div>
      </li>
      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">Actors</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Robert De Niro, Al Pacino</div>
          <div class="w-6 md:w-2 flex justify-content-end">
              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>
          </div>
      </li>
      <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">Plot</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
              A group of professional bank robbers start to feel the heat from police
               when they unknowingly leave a clue at their latest heist.</div>
          <div class="w-6 md:w-2 flex justify-content-end">
              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>
          </div>
      </li>
  </ul>
</div>


<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-900 font-bold text-6xl mb-4 text-center">Pricing Plans</div>
  <div class="text-700 text-xl mb-6 text-center line-height-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div>

  <div class="grid">
      <div class="col-12 lg:col-4">
          <div class="p-3 h-full">
              <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                  <div class="text-900 font-medium text-xl mb-2">Basic</div>
                  <div class="text-600">Plan description</div>
                  <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                  <div class="flex align-items-center">
                      <span class="font-bold text-2xl text-900">$9</span>
                      <span class="ml-2 font-medium text-600">per month</span>
                  </div>
                  <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                  <ul class="list-none p-0 m-0 flex-grow-1">
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Arcu vitae elementum</span>
                      </li>
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Dui faucibus in ornare</span>
                      </li>
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Morbi tincidunt augue</span>
                      </li>
                  </ul>
                  <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto" />
                  <button pButton pRipple label="Buy Now" class="p-3 w-full mt-auto"></button>
              </div>
          </div>
      </div>

      <div class="col-12 lg:col-4">
          <div class="p-3 h-full">
              <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                  <div class="text-900 font-medium text-xl mb-2">Premium</div>
                  <div class="text-600">Plan description</div>
                  <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                  <div class="flex align-items-center">
                      <span class="font-bold text-2xl text-900">$29</span>
                      <span class="ml-2 font-medium text-600">per month</span>
                  </div>
                  <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                  <ul class="list-none p-0 m-0 flex-grow-1">
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Arcu vitae elementum</span>
                      </li>
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Dui faucibus in ornare</span>
                      </li>
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Morbi tincidunt augue</span>
                      </li>
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Duis ultricies lacus sed</span>
                      </li>
                  </ul>
                  <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
                  <button pButton pRipple label="Buy Now" class="p-3 w-full"></button>
              </div>
          </div>
      </div>

      <div class="col-12 lg:col-4">
          <div class="p-3 h-full">
              <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
                  <div class="text-900 font-medium text-xl mb-2">Enterprise</div>
                  <div class="text-600">Plan description</div>
                  <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                  <div class="flex align-items-center">
                      <span class="font-bold text-2xl text-900">$49</span>
                      <span class="ml-2 font-medium text-600">per month</span>
                  </div>
                  <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                  <ul class="list-none p-0 m-0 flex-grow-1">
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Arcu vitae elementum</span>
                      </li>
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Dui faucibus in ornare</span>
                      </li>
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Morbi tincidunt augue</span>
                      </li>
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Duis ultricies lacus sed</span>
                      </li>
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Imperdiet proin</span>
                      </li>
                      <li class="flex align-items-center mb-3">
                          <i class="pi pi-check-circle text-green-500 mr-2"></i>
                          <span class="text-900">Nisi scelerisque</span>
                      </li>
                  </ul>
                  <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
                  <button pButton pRipple label="Buy Now" class="p-3 w-full p-button-outlined"></button>
              </div>
          </div>
      </div>
  </div>
</div>

</ng-scrollbar>
