<div class="card">
  <h1>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae dolorem
    doloribus autem ad? Totam accusamus tempora asperiores modi, nesciunt
    dolores inventore, maxime aperiam facilis molestiae praesentium pariatur
    earum! Minima, nisi.
  </h1>

  <small>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur
    molestiae quidem totam itaque officia asperiores sed fugit laborum, saepe,
    est dignissimos deleniti quisquam quos animi eius pariatur dolorum!
    Doloremque, in.
  </small>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fuga
    labore nostrum aspernatur fugit laborum fugiat omnis, nobis nisi magnam
    voluptatem voluptates autem perspiciatis et voluptate perferendis dolorum
    dolor incidunt.
  </p>
</div>
